<div class="jumbotron">
    <h1><?= $this->translate('hello', 'default', $locale) ?> <span class="zf-green"><?= $name ?>!</span></h1>
</div>

<div class="row">
    <div class="col-md-12">
    </div>
</div>
